*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  box-sizing: border-box;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: #d9584a;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(235, 87, 70, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(235, 87, 70, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(235, 87, 70, 0);
  }
}
h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  color: #ffd866;
  font-weight: 800;
}

h1,
h2 {
  font-size: 3.6rem;
  font-weight: 800;
}

h3 {
  color: #162127;
  font-size: 2.2rem;
}

body {
  font-family: "PT Mono", monospace;
}

.white {
  color: #f2f2f2;
}

.blue-thin {
  color: #91f2df;
  font-weight: 300;
}

.btn {
  width: 16rem;
  height: 5rem;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0;
  border: none;
}
.btn--blue {
  background-color: #91f2df;
  border: solid 0.3rem #91f2df;
  padding: 0.3rem;
  margin-right: 2rem;
  box-shadow: inset 0 5rem 0 0 #91f2df;
  transition: ease-in-out 0.4s;
}
.btn--blue:hover {
  box-shadow: none;
  color: #fff;
  border: solid 0.3rem #91f2df;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #91f2df;
}
.btn--ghost-blue {
  background-color: transparent;
  border: solid 0.3rem #91f2df;
  padding: 0.3rem;
  color: #fff;
  box-shadow: inset 0 0 0 0 #91f2df;
  transition: ease-in-out 0.4s;
}
.btn--ghost-blue:hover {
  box-shadow: inset 0 5rem 0 0 #91f2df;
  color: #162127;
  border: solid 0.3rem #91f2df;
}
.btn--yellow {
  background-color: #ffd866;
  border: solid 0.3rem #ffd866;
  padding: 0.3rem;
  margin: 0.5rem;
  box-shadow: inset 0 5rem 0 0 #ffd866;
  transition: ease-in-out 0.4s;
}
.btn--yellow:hover {
  box-shadow: none;
  border: solid 0.3rem #ffd866;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #ffd866;
}
.btn--black {
  background-color: #162127;
  border: solid 0.3rem #162127;
  padding: 0.3rem;
  color: #ffd866;
  margin: 0.5rem;
  box-shadow: inset 0 5rem 0 0 #162127;
  transition: ease-in-out 0.4s;
}
.btn--black:hover {
  box-shadow: none;
  border: solid 0.3rem #162127;
  color: #162127;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #162127;
}
.btn--small {
  width: 12rem;
  height: 4.2rem;
}

.portfolio {
  padding: 0 2rem;
  margin-top: 6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 36rem));
  justify-content: center;
}

.portfolio-item {
  padding: 0 2rem 2rem 2rem;
}
.portfolio-item:hover {
  box-shadow: 0.1rem 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.08);
}
.portfolio-item__outer {
  background-color: #fff;
  text-align: center;
  box-shadow: 0.1rem 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.08);
}
.portfolio-item__image {
  width: 100%;
}
.portfolio-item__label {
  background-color: #ffd866;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  font-size: 1.4rem;
  transform: translateY(-70%);
}
.portfolio-item__title {
  margin-top: -1.5rem;
}
.portfolio-item__sub-title {
  font-weight: 600;
  color: #d9584a;
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.24rem;
  margin: 0.5rem 0 1.5rem 0;
}
.portfolio-item__description {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.portfolio-item__button-box {
  display: flex;
  justify-content: center;
}

.section__background {
  margin: 4rem;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}
.section__container {
  max-width: 132rem;
  width: 100%;
  padding-bottom: 6rem;
}

.section-title {
  transform: translateY(-40%);
  text-align: center;
}
.section-title__heading {
  color: #162127;
}

.header {
  padding: 3rem 6rem;
  background: linear-gradient(287.77deg, #162127 13.16%, #152a35 72.99%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-box {
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: 15rem;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__a {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #f2f2f2;
  border-bottom: 0.3rem solid transparent;
  padding-bottom: 0.2rem;
  transition: all 0.3s ease-in;
  margin-left: 3rem;
}
.header__a:hover {
  color: #ffd866;
  border-color: #ffd866;
}
.header__a[data-selected] {
  color: #ffd866;
  border-bottom: 0.3rem solid #ffd866;
}

.footer {
  background: linear-gradient(287.77deg, #162127 13.16%, #152a35 72.99%);
  width: 100%;
  color: #f2f2f2;
  font-size: 1.4rem;
  padding: 3rem 6rem;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  flex-basis: 32%;
}
.footer__logo-box {
  display: flex;
  gap: 1rem;
  flex-basis: 30%;
}

.hero {
  background: linear-gradient(287.77deg, #162127 13.16%, #152a35 72.99%);
  display: flex;
  justify-content: center;
}
.hero__container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 0 6rem;
}
.hero__title {
  position: relative;
  z-index: 3;
  text-shadow: 0.2rem 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}
.hero__left {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  max-width: 70rem;
}
.hero__left::before {
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 5rem;
  background-color: #d9584a;
  box-shadow: 0 0 0 0 #eb5746;
  transform: scale(1);
  animation: pulse 3s infinite;
  z-index: 1;
  margin: -2.5rem -1.8rem;
  position: relative;
  z-index: 1;
}
.hero__img {
  max-width: 45rem;
}
.hero__text {
  font-size: 1.8rem;
  color: #f2f2f2;
  margin-bottom: 2rem;
}
.hero__button-box {
  margin-top: 2rem;
}

.my-work {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 0 3rem 0;
}
.my-work__text {
  font-size: 1.6rem;
  max-width: 70rem;
}

/*# sourceMappingURL=style.css.map */
