// COLOURS
$color-grey: #f2f2f2;
$color-yellow: #ffd866;
$color-blue: #91f2df;
$color-light-blue: #effbf8;
$color-black: #162127;
$color-red: #d9584a;
$color-light-red: #e99085;
$color-light-blue: rgba(145, 242, 223, 0.4);
$color-light-yellow: rgba(255, 216, 102, 0.6);

// BACKGROUND
$background-gradient-dark: linear-gradient(
  287.77deg,
  #162127 13.16%,
  #152a35 72.99%
);
