// COLOURS
$color-grey: #f2f2f2;
$color-yellow: #ffd866;
$color-blue: #91f2df;
$color-light-blue: #effbf8;
$color-black: #162127;
$color-red: #d9584a;

// BACKGROUND
$background-gradient-dark: linear-gradient(
  287.77deg,
  #162127 13.16%,
  #152a35 72.99%
);
