.section {
  &__background {
    margin: 4rem;
    background-color: $color-grey;
    display: flex;
    justify-content: center;
  }

  &__container {
    max-width: 132rem;
    width: 100%;
    padding-bottom: 6rem;
  }
}

.section-title {
  transform: translateY(-40%);
  text-align: center;

  &__heading {
    color: $color-black;
  }
}
