.footer {
  background: $background-gradient-dark;
  width: 100%;
  color: $color-grey;
  font-size: 1.4rem;
  padding: 3rem 6rem;

  position: absolute;
  bottom: 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    flex-basis: 32%;
  }

  &__logo-box {
    display: flex;
    gap: 1rem;
    flex-basis: 30%;
  }

  &__contact {
    color: $color-grey;
  }
}
