.header {
  padding: 3rem 6rem;
  background: $background-gradient-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-box {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 15rem;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: $color-grey;
    border-bottom: 0.3rem solid transparent;
    padding-bottom: 0.2rem;
    transition: all 0.3s ease-in;
    margin-left: 3rem;

    &:hover {
      color: $color-yellow;
      border-color: $color-yellow;
    }
  }

  &__a[data-selected] {
    color: $color-yellow;
    border-bottom: 0.3rem solid $color-yellow;
  }
}
