h1,
h2,
h3 {
  font-family: 'Work Sans', sans-serif;
  color: $color-yellow;
  font-weight: 800;
}

h1,
h2 {
  font-size: 3.6rem;
  font-weight: 800;
}

h3 {
  color: $color-black;

  font-size: 2.2rem;
}

body {
  font-family: 'PT Mono', monospace;
}

.white {
  color: $color-grey;
}

.blue-thin {
  color: $color-blue;
  font-weight: 300;
}
