.about {
  margin: 6rem 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;

    @include respond(large-phone) {
      flex-direction: column;
      padding: 0 2rem;
    }

    &--alternate {
      margin: 12rem 0;

      @include respond(large-phone) {
        margin: 6rem 0;
        flex-direction: column-reverse;
      }
    }
  }

  &__double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;

    &--alternate {
      padding-right: 2rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;

    &--alternate {
      text-align: right;
    }
  }
}

.about-item {
  &__text {
    font-size: 1.5rem;
  }
}
