.about {
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__double-column {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: $color-red;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $color-blue;
  }
}
