.contact-form {
  display: flex;
  justify-content: center;
  padding: 3rem;

  &__container {
    display: flex;
    flex-direction: column;
    width: 90rem;
  }

  &__label {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  &__input {
    padding: 2rem;
    background-color: $color-light-blue;
    border: 0.1rem solid $color-black;
  }

  &__textarea {
    padding: 2rem 2rem 10rem 2rem;
    margin-bottom: 3rem;
    background-color: $color-light-blue;
    border: 0.1rem solid $color-black;
  }
}
