.portfolio {
  padding: 0 2rem;
  margin-top: 6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 36rem));
  justify-content: center;
}

.portfolio-item {
  padding: 0 2rem 2rem 2rem;
  transition: display 5000 ease;

  &__outer {
    background-color: #fff;
    text-align: center;
    box-shadow: 0.1rem 0.7rem 1rem 0.4rem rgba(0, 0, 0, 0.08);
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__label {
    background-color: $color-yellow;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    font-size: 1.4rem;
    transform: translateY(-50%);
  }

  &__title {
    margin-top: -0.5rem;
  }

  &__sub-title {
    font-weight: 600;
    color: $color-red;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 2.24rem;
    margin: 0.5rem 0 1.5rem 0;
  }

  &__description {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  &__button-box {
    display: flex;
    justify-content: center;
  }
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 6rem 3rem;

  &__item {
    display: flex;
    justify-content: center;
    border-radius: 2.5rem;
    background-color: lighten($color-blue, 12%);
    color: lighten($color-black, 30%);
    padding: 0.8rem 0;
    width: 12rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-blue;
      color: $color-black;
    }
  }
}

.filter-selected {
  background-color: $color-blue;
  color: $color-black;
}
