.section {
  min-height: 75vh;
  position: relative;
  padding-bottom: 10rem;

  @include respond(phone) {
    padding-bottom: 20rem;
  }

  &__background {
    margin: 4rem 4rem 5rem 4rem;
    background-color: $color-grey;
    display: flex;
    justify-content: center;
    min-height: 75vh;

    @include respond(large-phone) {
      margin: 3rem 3rem 4rem 3rem;
    }

    @include respond(phone) {
      margin: 2rem;
    }

    @include respond(small-phone) {
      margin: 1rem 1rem -1rem 1rem;
    }
  }

  &__container {
    max-width: 132rem;
    width: 100%;
    padding-bottom: 2rem;
  }
}

.section-title {
  transform: translateY(-40%);
  text-align: center;

  @include respond(phone) {
    transform: none;
  }

  &__heading {
    color: $color-black;
  }
}
