.footer {
  background: $background-gradient-dark;
  width: 100%;
  color: $color-grey;
  font-size: 1.4rem;
  padding: 3rem 4rem;
  position: absolute;
  bottom: 0;

  @include respond(large-phone) {
    padding: 3rem 3rem;
  }

  @include respond(small-phone) {
    padding: 2rem 3rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column-reverse;
    }
  }

  &__copyright {
    flex-basis: 32%;
  }

  &__logo-box {
    display: flex;
    gap: 1rem;
    flex-basis: 30%;

    @include respond(phone) {
      margin: 2rem 0;
    }
  }

  &__github-logo,
  &__linkedin-logo {
    max-width: 4.2rem;
  }

  &__contact {
    color: $color-grey;
  }
}
